:root {
    --title-font: 'Pacifico', cursive;;
    --header-font: 'Montserrat', sans-serif;;
    --text-font: 'Rubik', sans-serif;
    --business-blue: #0D47A1;
}

h1 {
    font-family: var(--title-font);
}

h2 {
    font-family: var(--text-font);
    font-style: italic;
}

h3 {
    font-family: var(--header-font);
    color: var(--business-blue);
}

h4 {
    font-family: var(--text-font);
    font-weight: bold;
}