:root {
    --title-text: 'Playfair Display', serif;
    --secondary-text: 'Montserrat', sans-serif;;
    --body-text: 'Roboto', sans-serif;
    --dark-colour: #2e2e2e;
    --main-colour: #DB2029;
    --secondary-colour: #888888;
    --light-colour: #F5F4F0;
}

.button-group { display: flex; }

.button p{ padding-left: 5px; }

.button {
    font-family: var(--body-text);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    border: 3px solid var(--dark-colour);
    color: var(--dark-colour);
}
.button:hover {
    background-color: var(--dark-colour);
    color: var(--light-colour);
}
.button.main{
    border-color: var(--main-colour);
    color: var(--main-colour);
}
.button.main:hover {
    background-color: var(--main-colour);
    color: var(--light-colour);
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .button-group {
        flex-direction: column;
        width: 100%;
    }

    .button { 
        padding: 0.75em;
        margin: 10px 0px;
    }

    .button p { font-size: 1.25rem; }

    .button.left { margin: 0px; }

    .button.right { margin: 10px; }
}

/* Laptops */
@media only screen and (min-width: 501px) {
    .button-group { flex-direction: row; }

    .button {
        font-size: 1rem;
        padding: 0.75em;
        width: fit-content;
    }

    .button i { font-size: 1.25rem; }

    .button p{ font-size: 1.25rem; }

    .button.left { border-right: none; }

    .button.right { border-left: none; }
}