:root {
    --main-colour: #2e2e2e;
    --secondary-colour: #DB2029;
    --tertiary-colour: #888888;
    --bg-colour: #F5F4F0;
}

html, body { width: 100vw; }

body {
    background-color: var(--bg-colour);
    font-family: 'Roboto', sans-serif;
    color: var(--main-colour);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: 900;
    color: var(--main-colour);
    line-height: 100%;
} 

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--main-colour);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--secondary-colour);
}

p {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: var(--main-colour);
    text-transform: lowercase;
    line-height: 100%;
    margin: 0px;
}
a.navbar-brand:hover { color: var(--main-colour) }

.nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0px 10px;
    color: var(--main-colour);
}
a.nav-link:hover {
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-colour);
}

.navbar-toggler-icon { color: var(--main-colour);}

#emily { height: 350px; }

.footer {
    text-align: center;
}


#intro { font-size: 1.5em; }
@media only screen and (max-width: 500px) {
    #intro {
        font-size: 1em;
    }
}





