:root {
    --title-text: 'Playfair Display', serif;
    --secondary-text: 'Montserrat', sans-serif;;
    --body-text: 'Roboto', sans-serif;
    --dark-colour: #2e2e2e;
    --main-colour: #DB2029;
    --secondary-colour: #888888;
    --light-colour: #F5F4F0;
}

/* Reset */
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a { color: var(--dark-colour); }

li {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.tag {
    border-radius: 4px;
    margin-left: 5px;
    text-transform: uppercase;
    font-family: var(--body-text);
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}

.info {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}

.blog-post-hide {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paragraph {
    padding-bottom: 10px;
}

.project {
    background-color: var(--light-colour);
    color: var(--dark-colour);
}
.project:hover {
    background-color: rgba(245,244,240, 0.8)
}
.project a{
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
}
/* Navbar */
nav .group { display: flex; }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    overflow-x: hidden;
    line-height: 100%;
    background-color: rgba(245, 244, 240, 0.5);
}
.nav-link {
    color: var(--dark-colour);
    line-height: 100%;
}
.nav-link:hover {
    font-weight: bold;
}
.nav-text { text-transform: uppercase; }

#brand {
    text-transform: lowercase;
    font-family: var(--title-text);
    font-weight: 600;
    font-size: 1.25em;
}
nav div.icon {
    color: var(--dark-colour);
}
#nav-dropdown {
    justify-content: center;
    padding: 5%;
    background-color: rgba(226, 226, 226, 0.5);       
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px  4px rgba(100,100,100,0.5);
    text-align: center;
    display: none;
}

img.fill { width: 100%; }

.footer {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.this-website {
    text-transform: lowercase;
    font-weight: bold;
    font-family: var(--title-text);
    font-size: 2rem;
}

.reciply {
    text-transform: none;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

/* Mobile */
@media only screen and (max-width: 500px) {
    li p {
        font-size: 1rem;
        padding-left: 5px;
    }
    .tag {
        font-size: 0.7rem;
        padding: 2px 4px;
        height: fit-content;
    }

    .info { font-size: 1rem; }

    .project {
        justify-content: center;
        align-items: center;
        padding: 100% 10px 10px 10px;
        position: relative
    }

    nav { font-size: 10px; }
    .nav-icon {
        padding-right: 10px;
        font-size: 2rem;
    }

    #socialMedia { order: 1; }
    #menu { order: 3; }
    #brand {
        font-size: 3em;
        order: 2;
    }
    

    #id-photo { width:100%; }
}

/* Laptops */
@media only screen and (min-width: 501px) {
    .info {
        font-size: 1rem;
    }

    li p {
        font-size: 1rem;
        padding-left: 5px;
    }
    .tag {
        font-size: 0.50rem;
        padding: 4px;
        height: fit-content;
    }

    .project {
        justify-content: center;
        align-items: center;
        padding: 100% 10px 10px 10px;
        position: relative
    }

    nav { font-size: 18px; }
    .nav-text { padding: 0px 10px; }
    .nav-icon {
        font-size: 1.5rem;
        padding-right: 0.5em;
    }
    #brand { font-size: 2rem; }

    #id-photo { 
        height: 350px;
    }
}